USE [master]
GO
/****** Object:  Database [WebApp]    Script Date: 5/19/2018 1:36:50 PM ******/
CREATE DATABASE [WebApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApp]
GO
USE [WebApp]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 5/19/2018 1:36:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompId] [int] IDENTITY(1,1) NOT NULL,
	[CompImg] [varbinary](max) NULL,
	[CompName] [varchar](50) NULL,
	[CompRep] [varchar](50) NULL,
	[CompDOE] [date] NULL,
	[CompAddr] [varchar](50) NULL,
	[CompCat] [varchar](50) NULL,
	[CompEmail] [varchar](50) NULL,
	[CompCont] [varchar](50) NULL,
	[CompDesc] [varchar](max) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 5/19/2018 1:36:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserEmail] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[UserRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserAccounts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

SET IDENTITY_INSERT [dbo].[Companies] OFF
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([UserId], [UserName], [UserEmail], [UserPassword], [UserRole]) VALUES (1, N'Admin', N'admin@businematch.com', N'Admin', N'admin')
INSERT [dbo].[UserAccounts] ([UserId], [UserName], [UserEmail], [UserPassword], [UserRole]) VALUES (2, N'mike', N'mike@gmail.com', N'1234', N'user')
INSERT [dbo].[UserAccounts] ([UserId], [UserName], [UserEmail], [UserPassword], [UserRole]) VALUES (3, N'annann', N'annann@gmail.com', N'123', N'user')
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
USE [master]
GO
